[submodule "external/miniargparse"]
	path = external/miniargparse
	url = https://github.com/devbored/miniargparse.git
[submodule "external/minigdbstub"]
	path = external/minigdbstub
	url = https://github.com/devbored/minigdbstub.git
